<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/shetty.jpg" type="image/x-icon">
    <!-- <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> -->
    <title>sheja shetty</title>
</head>
<body>
    <div id="Hi" class="container">
        <div class="imgbox">
            <img class="imgmain" width="40px" src="../static/shetty.jpg" alt="">
            <!-- //- img(src="shetty.jpg", alt="my image") -->
        </div>
        <div class="listbox">
            <ul>
                <a href="/"><li> Home</li></a>
                <a href="/projects"><li> Projects</li></a>
                <a href="/join"><li> Join Me!</li></a>
            </ul>
        </div>
      

    </div>
    <div class="section">
        <div class="descbox">
            <!-- <img class="imgindesc" width="40px" src="IMG_20200322_132034_471.jpg" alt=""> -->
            <h4 style="padding: 5px;">Hi!</h4>
            <h3 style="padding: 5px;">Iam</h3>
            <!-- <img style="float:right;border-radius: 30%;" width="90px" src="../static/Untitled design.png" alt=""> -->
            <h1 style="padding: 5px;">sheja shetty</h1>
            <!-- <h3 style="padding: 5px;">Aspiring Web Developer & Software Developer</h3> -->
            <p>Aspiring</p>
            <section class="animation">
                <div class="first">Web Developer</div>
                <div class="second">Software Developer</div>
                <div class="third">Cloud Engineer</div>
            </section>
            <h4  style="padding: 5px;"></h4>
            <!-- <h5 style="padding: 5px;"></h5> -->
            <div class="icons">
                <div class="icon-12">
                    <a href="https://www.instagram.com/"><img src="../static/insta.png" width="30px" alt="insta"></a>
                </div>
                <div class="icon-12">
                    <a href="https://www.facebook.com/"><img src="../static/linkd.png" alt="face" width="30px"></a>
                </div>
                <div class="icon-12">
                    <a href="https://web.whatsapp.com/"><img src="../static/tele.png" alt="" width="30px"></a>
                </div>
                <div class="icon-12">
                    <a href="https://github.com/shejashetty15/Web-dev"><img src="../static/git.png" alt="git" width="30px"></a>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <!-- <div class="heading"> -->
            <h2 style="height: 40px; padding: 20px; color: aliceblue;">Projects</h2>
        <!-- </div> -->
        <div class="prop">
            <div class="pro-1">
                <img width="" class="proimg" src="../static/mouse.jpg" alt="">
                <div class="desinpro">
                    <a href="">
                        <h4>Ai virtual mouse</h4>
                        <p>Its a virtual mouse , built on python open cv module</p></a>
                    </div>
                    <!-- <div class="pro-1-back">
                        <p>
                            This is a mouse using Open cv 
                        </p>
                    </div> -->
                </div>
                <div class="pr-2">
                <div class="pro-1">
                    <img width="" class="proimg" src="../static/potfolio.jpg" alt="">
                    <div class="desinpro">
                        <a href="">
                        <h4>Portfolio Wesite</h4>
                        <p>Built Website using HTML, CSS, Js, Node Js, MongoDB</p></a>
                    </div>
                    <!-- <div class="pro-1-back">
                        <p>
                            This is my Portfolio website Project 
                        </p> 
                    </div> -->
                </div>
            </div>
                <div class="pro-1">
                    <img width="" class="proimg" src="../static/cloud.jpg" alt="">
                <div class="desinpro">
                    <a href="">
                    <h4>Cloud based attendence System</h4>
                    <p>It takes Record of attendence and posts it on to the cloud </p></a>
                </div>
                <!-- <div class="pro-1-back">
                    <p>
                        My cloud Project
                    </p> -->
                </div>
            </div>
        </div>
    </div>
    <div class="intern">            
        <h2 style="padding: 20px; color: black;">Profile</h2>
        <div class="inter-1">
            <h3 style="padding: 20px;">SHEJA SHETTY</h3>
            <div class="profile">
            <h2>Educational Backround</h2>
            <p><strong> B.Tech</strong></p>
            <p>computer science and engineering</p>
            <p>2020-24</p>
            <h2>skills</h2>
            <p><strong> Web development</strong>:HTML,CSS,js,Node Js,MongoDB</p>
            <p><strong> Programming Languages</strong>:java,pyhton</p>
        </div>
        </div>
        <!-- <div class="inter-1">
            
        </div>
        <div class="inter-1">
            
        </div> -->
         
    </div>
        <!-- <div class="intern">
            <h3>Interships</h3>
        </div> -->
    <div class="services">
        <h2 style="height: 40px; padding: 20px; color: aliceblue;">Services</h2>
        <!-- <div class="mser">
        <div class="ser-1">
            <img width="" class="proimg" src="../static/webdev.jpg" alt="">
            <div class="web">
                <h4>Web Development</h4>
                
            </div>
        </div>
        <div id="sss" class="ser-1">
            <img width="" class="proimg" src="../static/cloudcom.png" alt="">
            <div class="cloud">
                <h4>Cloud Computing</h4>
                
            </div>
        </div>

    </div> -->
    <div class="service">
        <h1>STARTING SOON...............</h1>
    </div>
    </div>
    <div class="updown">
        <a href="#Hi">^</a>
    </div>
    <footer>
        <i class="fa-brands fa-instagram"></i>        
        <div class="copy">
            <p style="text-align: center;">CopyRights &copy; issued
            </p>
        </div>
    </footer>
    
</body>
</html>