<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Me</title>
    <link rel="shortcut icon" href="../static/shetty.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../static/style1.css">
</head>

<body>
    <div id="Hi" class="container">
        <div class="imgbox">
            <img class="imgmain" width="40px" src="../static/shetty.jpg" alt="">
        </div>
        <div class="listbox">
            <ul>
                <a href="/">
                    <li> Home</li>
                </a>
                <a href="/projects">
                    <li> Projects</li>
                </a>
                <a href="/join">
                    <li> Join Me!</li>
                </a>
            </ul>
        </div>
    </div>
    <div class="cform">
        <div class="formd">
            <h1>Gain Experience</h1>

            <p>We Will reach you soon.....</p>


        </div>
        <div class="formstyle">
            <form action="/join" method="post">
                <input class="in" type="text" name="names" placeholder="Name">
                <input class="in" type="text" name="email" placeholder="Email">
                <input class="in" type="number" name="phno" placeholder="Mobile number">
                <label for="resume">Upload Resume</label>
                <input class="inin" type="file" name="resume" id="resume" placeholder="Upload your Resume">
                <button type="reset">Reset</button>
                <button type="submit">Submit</button>

            </form>
        </div>
    </div>
</body>

</html>